.container {
  padding: 0.2rem;
  width: 50%;
  box-shadow: 3px 3px 10px 0px rgba(2, 1, 1, 0.7);
}
.video {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in;
  border: lightgray 1px solid;
}
.video:hover {
  transform: scale(1.02);
}
.thumbnails {
  width: 40%;
  height: 100%;
}
.info {
  margin-left: 0.5em;
}
.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}
